<div
  class="chip"
  [class.on-primary]="onPrimary()"
  [class.dark-theme]="theme.isDarkTheme()"
>
  <a
    class="chip-body"
    target="_blank"
    rel="noopener"
    [href]="attachment().url"
    [attr.download]="attachment().name"
  >
    @if (isImage()) {
      <img
        class="chip-thumb"
        [src]="attachment().url"
        alt=""
      />
    } @else {
      <span class="chip-icon">
        <img src="/assets/ui/file-text.svg" alt="" />
      </span>
    }
    <span class="chip-text">
      <span class="chip-name">{{ attachment().name }}</span>
      <span class="chip-size">{{ size() }}</span>
    </span>
  </a>

  @if (removable()) {
    <button
      class="chip-remove"
      type="button"
      [attr.aria-label]="
        language.t('messages.removeAttachmentAria')
      "
      (click)="removed.emit()"
    >
      <img src="/assets/ui/x.svg" alt="" />
    </button>
  }
</div>
