<div class="social-login" [class.dark-theme]="theme.isDarkTheme()">
    <div class="auth-divider"><span>or continue with</span></div>
    <div class="social-buttons">
        <button class="social-button" type="button">
            <img class="brand-color" src="/assets/social/google.svg" alt="">Google
        </button>
        <button class="social-button" type="button">
            <img src="/assets/social/apple.svg" alt="">Apple
        </button>
        <button class="social-button" type="button">
            <img src="/assets/social/facebook.svg" alt="">Facebook
        </button>
    </div>
</div>
